.footer {
  min-height: 70px;
  background: #274b69;
  position: relative;
}

.footer span {
    align-self: flex-end;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #274b69;
    text-align: center;
  }
  