.footer {
    min-height: 100px;
    background: #aa5e5e;
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #aa5e5e;
  }
  